<h1>Support <%= @campaign.name %> </h1>

<%= form_for [@campaign, @pledge] do |f|%>
  <%= f.label :amount %>
  <%= f.number_field :amount, class: :text_field, step: :any %>
  <%= f.submit "Pledge" %>
<% end %>
