<% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@campaign.errors.count, "error") %> prohibited
        this campaign from being saved:
      </h2>
      <ul>
        <% @campaign.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @campaign do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :organization %>
  <%= f.text_field :organization %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :end_date %>
  <%= f.date_select :end_date %>

  <%= f.label :goal_amount %>
  <%= f.number_field :goal_amount %>
  <%= f.submit "Save" %>
<% end %>
