<h1>Campaigns#new</h1>
<p>Find me in app/views/campaigns/new.html.erb</p>


<%= form_for @campaign do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :organization %>
  <%= f.text_field :organization %>

  <%= f.label :description %>
  <%= f.text_field :description %>

<% end %>
