<p id="notice"><%= notice %></p>
<% if flash[:errors] %>
  <div class="alert alert-danger">
      <% flash[:errors].each do |error| %>
        <%= content_tag :p, error %>
      <% end %>
  </div>
  <% end %>

<% if @campaign.expired? %>
  <%= render 'expired_campaign' %>
<% else %>
  <%= render 'campaign' %>
<% end %>

<%= render 'pledges' %>
