<h1>Campaigns#show</h1>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <img src="http://placehold.it/300x300" alt="" />
  </div>
  <div class="col-md-4">
    <h1><%= @campaign.name %></h1>
    <h2><small class="text-muted"><%= @campaign.organization %></small></h2>
    <p>Ends in <%= distance_of_time_in_words(@campaign.end_date, Time.now)%> (<%= @campaign.end_date.strftime("%D") %>)</p>
    <progress class="progress progress-striped" value="<%= @campaign.current_amount %>" max="<%= @campaign.goal_amount %>"></progress>
    <p>$<%= number_with_precision(@campaign.current_amount, :precision => 2, :delimiter => ',') %> of $<%= number_with_precision(@campaign.goal_amount, :precision => 2, :delimiter => ',') %> raised </p>
  </div>
</div>
<div class="row description">
  <div class="col-md-12">
    <p class="lead">
      <%= @campaign.description %>
    </p>
  </div>
</div>
